<a href="https://colab.research.google.com/github/Yul-Art/SF-DST/blob/main/EDA_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Домашнее задание**

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.


Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

In [1]:
import pandas as pd #для работы с таблицами

In [2]:
!pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.22.4)

In [3]:
!pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (23.1)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [4]:
# объединение массивов в DataFrame для вычисления корреляции
petersburg = pd.DataFrame([0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105])
magadan = pd.DataFrame([0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689])
data = pd.concat([petersburg, magadan], names=['petersburg', 'magadan'], axis=1, ignore_index=True)
data.rename(columns={0: 'petersburg', 1: 'magadan'}, inplace=True)
data

   petersburg  magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764
7         NaN   0.0689

In [5]:
# заполним пропуск средним значением
data = data.fillna(data['petersburg'].mean())
data

   petersburg  magadan
0    0.097400   0.1033
1    0.135200   0.0915
2    0.081700   0.0781
3    0.101600   0.0685
4    0.096800   0.0677
5    0.106400   0.0697
6    0.105000   0.0764
7    0.103443   0.0689

In [6]:
# Сформулируем гипотезу для проверки данных на нормальность
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

# Установим уровень значимости
alpha = 0.05

# Для небольшой выборки данных используем Тест Шапиро-Уилка
from scipy.stats import shapiro

In [7]:
# Проверка данных Петербурга на нормальность
_, p = shapiro(data.petersburg)
print('p=%.3f' % p)

# Интерпретация

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.123
Данные распределены нормально

In [8]:
# Проверка данных Магадана на нормальность
_, p = shapiro(data.magadan)
print('p=%.3f' % p)

# Интерпретация

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.036
Данные не распределены нормально (мы отвергаем H0)

In [9]:
# Используем коэффициент корреляции Спирмена для числовых переменных, которые не распределены нормально
data.corr(method = 'spearman')

            petersburg   magadan
petersburg    1.000000  0.166667
magadan       0.166667  1.000000

**Вывод по корреляции:**

Данные Петербурга распределены нормально, данные Магадана не распределены нормально.

Корреляционная связь между данными признаками очень слабая.

Т.к. данные не распределены по нормальному закону, для сравнения средних значений выборок используем непараметрический тест для двух независимых групп - ранговый тест Уилкоксона

In [12]:
import scipy.stats as stats
_ ,p = stats.wilcoxon(data.petersburg, y=data.magadan)
print(float(p))

# Сформулируем гипотезу
H0 = 'Нет разницы между средним размером раковины мидий в двух городах'
H1 = 'Есть разница между средним размером раковины мидий в двух городах'

# Установим уровень значимости
alpha = 0.05

# Интерпретация

if p > alpha:
	print(H0)
else:
	print(H1)

0.0234375
Есть разница между средним размером раковины мидий в двух городах

In [11]:
# определим разницу между средними значениями выборок
difference = data.petersburg.mean() - data.magadan.mean()
difference

0.025430357142857143

**Вывод:**

Ранговый тест Уилкоксона показал, что существует разница между средним размером раковины мидий в зависимости от города-производителя.

Средний размер мидии Петербурга на 0,025 больше Магадана.